.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;

  margin-bottom: 7px;
}
h6 {
  font-size: 1em;
}
.header-text {
  width: 50%;
}
.body-section {
  margin: 0 5%;
}
.header-image {
}
.arrow {
  text-decoration: none;
  background-image: linear-gradient(rgb(255, 0, 0), rgb(233, 91, 190));
  border-radius: 15px;
  padding: 1% 2.5%;
  color: white;
  font-size: 0.75rem;
  text-align: center;
  font-weight: 700;
}

body {
  font-family: "Poppins", sans-serif;
}
.small {
  margin-bottom: 15px;
}
h1 {
  font-size: xx-large;
  color: rgb(54, 46, 46);
}
.fa-arrow-right-long {
  color: aliceblue;
}

.photo-album {
  display: flex;
}

.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.body-header {
  text-align: center;
  margin-bottom: 5%;
}
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column-reverse;
  }
  .header-text {
    width: 100%;
  }
}
.footer {
  text-align: center;
  background-color: rgb(0, 0, 46);
  color: white;
  padding: 30px 0;
}
.airpods {
  padding: 10px;
  margin-bottom: 100px;
}
.drone {
  padding: 10px;
}
.lights {
  padding: 10px;
}
.tripod {
  padding: 10px;
  margin-bottom: 100px;
}
.single-light {
  padding: 10px;
}
mic {
  padding: 10px;
}
.action {
  padding: 10px;
  margin-bottom: 100px;
}
.setup {
  padding: 10px;
}
.camera {
  padding: 10px;
}

h6 {
  margin: 0;
}
.social-icon i {
  padding: 11px;
}
